
.left-content {
  display: flex;
  float: left;
  align-items: center;
  width: 100%;
  /* position: relative; */
  /* margin-bottom: 150px; */
}

/* .right-content {
  display: flex;
  flex-direction:column;
  float: right;
  align-items: center;
} */

.profile-image {
  max-width: 250px;
  max-height: 230px;
  border-radius: 100%;
  margin-top: 10%;
  margin-bottom: 6%;
}
