

footer {
  justify-content: center;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
}

footer li {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: .6rem;
  margin-bottom: .4rem;
  justify-content: center;
  }

footer svg {
  color: black;
  font-size: 1.6rem;
}

footer svg:hover {
  color: #f17a35;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border-top: 1px solid #f2f2f2; */
  bottom: 0;
  /* position: fixed; */
  background-color: white;
}

.footer-name {
  display: flex;
  justify-content: center;
  border-top: 1px solid #f2f2f2;
}

