footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
}

footer li {
  padding-left: .5rem;
  padding-right: .5rem;
  margin-top: .6rem;
  margin-bottom: .4rem;
  justify-content: center;
  }

footer svg {
  color: black;
  font-size: 1.7rem;
  padding: 5px;
}

footer svg:hover {
  color: #f17a35;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  bottom: 0 !important;
  position: fixed;
  background-color: white;
}

.footer-name {
  display: flex;
  justify-content: center;
  border-top: .5px solid white;
  padding-bottom: 2px;
}

