@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

div .portfolio-page-container {
  margin-bottom: 3rem;
}

/* Project Title */
/* local custom attribute */
div .css-h93ljk-MuiTypography-root {
  margin: 0;
  font-family: "Quicksand" !important;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
}
/* prod custom attribute */
.css-t1nuxs {
  margin: 0px 0px 0.35em;
  font-family: "Quicksand" !important;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
}

/* Project Description */
/* local custom attribute */
.css-e784if-MuiTypography-root {
  margin: 0;
  font-family: "Quicksand" !important;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}
/* prod custom attribute */
.css-68o8xu {
  margin: 0px;
  font-family: "Quicksand" !important;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

/* Container for Btns */
/* local custom attribute */
.css-1t6e9jv-MuiCardActions-root {
  display: flex;
  align-items: center;
  padding: 8px;
  justify-content: center !important;
}

/* prod custom attribute */
.css-3zukih {
  display: flex;
  align-items: center;
  padding: 8px;
  justify-content: center !important;
}




/* OLD CSS FOR CUSTOM BOOTSTRAP COMPONENT */
/* .card-header {
  font-size: 1.7rem;
  font-weight: bold;
  background-color: black;
  color: white;
} */

/* .card {
  align-items: center;
  
} */


/* #portfolio-card {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 15px;
  margin-top: 1rem;
} */


