.card-header {
  font-size: 1.7rem;
  font-weight: bold;
  /* background-color: black;
  color: white; */
}

.card {
  align-items: center;
  
}


#portfolio-card {
  /* border-style: solid;
  border-width: 1px;
  border-color: black; */
  /* border-radius: 15px; */
  margin-top: 1rem;
}

.img-fluid {
  max-width: 80%;
}

div .portfolio-page-container {
  margin-bottom: 3rem;
}
