div .resume-page-container {
  margin-bottom: 5rem;
}

.card {
  border: none !important;
  background-color: transparent !important;
}

/* #resume-header {
  background-color: rgb(245, 241, 241);
}

#resume-footer {
  background-color: rgb(245, 241, 241);
} */

.github-comp {
  margin-top: 4rem;
}


.github-btn {
  text-align: center;
  margin: .7rem;
}