@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  padding: 0;
  /* position: relative; */
  box-sizing: border-box;
  font-family: "Quicksand";
}

/* .hidden {
  display: none;
} */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  width: auto;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f17a35;
}

.links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
}

.navbar a:hover {
  color: #f17a35;
}

.content {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}


